.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.gallery-item {
  margin: 10px;
}
.gallery-link {
  text-decoration: none;
}
.gallery-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
